<div id="app" [style.background-color]="paints[currentIndex].hex" [style.color]="getTextColor(paints[currentIndex].hex)">
    <div id="center">
        <div id="colors">
            <div *ngFor="let basicHue of paints[currentIndex].basicHues" class="color" [style.background-color]="colors[basicHue]" [style.color]="getTextColor(colors[basicHue])">
                <span (click)="changeBasicHues(basicHue)">{{ capitalize(basicHue) }}</span>
            </div>
        </div>
        <h1>{{ paints[currentIndex].name }}</h1>
        <div id="buttons">
            <button name="previous" (click)="isPreviousClicked()">Précédent</button>
            <button name="next" (click)="isNextClicked()">Suivant</button>
        </div>
    </div>
    <div id="panels">
        <div id="normalpanel">
            <div *ngFor="let color of getColors('normal')" class="color" [style.color]="getTextColor(colors[color])">
                <span (click)="changeBasicHues(color)" [ngClass]="isActive(color) ? 'active' : 'inactive'" [style.background-color]="colors[color]" [style.border]="'5px solid ' + getTextColor(paints[currentIndex].hex)">{{ capitalize(color) }}</span>
            </div> 
        </div>
        <div id="metallicpanel" [style.visibility]="isMetallicPaint() ? 'visible' : 'hidden'">
            <div *ngFor="let color of getColors('metallic')" class="color" [style.color]="getTextColor(colors[color])">
                <span (click)="changeBasicHues(color)" [ngClass]="isActive(color) ? 'active' : 'inactive'" [style.background-color]="colors[color]" [style.border]="'5px solid ' + getTextColor(paints[currentIndex].hex)">{{ capitalize(color) }}</span>
            </div> 
        </div>
    </div>
    <div id="savespace">
        <label for="load">Charger</label>
        <input (change)="isFileLoaded($event)" id="load" type="file">
        <a [href]="jsonUrl" name="save" download="paints.json">Sauvegarder</a>
    </div>
</div>